body{
    background-image: url("../images/backgrounds/retina_wood/retina_wood.png ")
    
}

.wrapper{

}

#top-bar{
    background-color: #ffffff;
    margin: 0 auto;
    padding: 3em;
}

.nav{
    float: right;

}

header{
    float:left;
    background-color:#4aaaa5;
    margin: 0 auto;
    width: 22em;
    text-align: center;
    color: #ffffff;
}

#container{
    margin: 0 auto;
    background-color: #ffffff;
    width: 60em; 
    padding: .75em;
    overflow: auto;
}

/* I want to use the #aboutme tag but for some reason it doesn't change the color of the text unless I use the h2 selector??*/
h2{
    color: #4aaaa5;
}

#pic1{
    clear: both;
    float: left;
}

#p1{
    float: left;
}