body{
    background-image: url("../images/backgrounds/retina_wood/retina_wood.png ");
    margin: 0 auto; 
}

.not-sure-i-need-this{

}

#top-bar{
    background-color: #ffffff;
    padding: 2.5em;
    border-bottom: solid;
    border-bottom-width: 0.0625em;
}

#go-here{
    float: right;
    clear: both;
}

.nav{
    color: #dddddd;
}

header{
    float:left;
    position: relative;
    margin: 0 auto;
    top: -3.595em;
    left: 12em;
    padding: 0.38em;
    background-color:#4aaaa5;
    width: 22em;
    text-align: center;
    color: #ffffff;
    clear: both;
}

#page-contents{
    background-color: #ffffff;
    width: 40em; 
    margin: 2em;
    padding: .75em;
    border-style: solid;
    border-width: .0625em;
}

#box1{
    border-bottom: solid;
    color: #dddddd;
    padding: .3em;
}

/* I want to use the #aboutme tag but for some reason it doesn't change the color of the text unless I use the h2 selector??*/
h2{
    color: #4aaaa5;
}

#pic1{
    clear: both;
    float: left;
    margin-right: 0.75em;
}

#p1{
}